/* CSS Document */
body{
    background-color:#fff;
}
.main {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #8AA2CC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: #000000; /*#666666*/
    text-align: center;
    vertical-align: top;
}
.headback {
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/headground.jpg");
}
.headback img {
    position: absolute;
    top: 20px;
    display: block;
    width: auto;
    max-height: 450px;
    -webkit-transform: scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform: scale(0.8); /*Mozilla scale version*/
    -o-transform: scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 1.7; /*initial opacity of images*/
}
.headback img:hover {
    -webkit-transform: scale(1.0); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform: scale(1.0); /*Mozilla scale version*/
    -o-transform: scale(1.0); /*Opera scale version*/
    box-shadow: 0px 0px 20px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow: 0px 0px 20px gray; /*Safari shadow version*/
    -moz-box-shadow: 0px 0px 20px gray; /*Mozilla shadow version*/
    opacity: 1;
}




/*td {*/
/*	vertical-align: top;*/
/*	text-align: left;*/
/*	font-size: 12px;*/
/*}*/

hr {
    color: #CCCCCC;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    overflow: hidden;
}

h1 {
    font-size: 14px;
    color: #000000;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline;
}

.bookname {
    font-size: 16px;
    color: #194105;
    text-align: left;
    margin-bottom: 5px;
    display: inline;
}

#divhead {
    width: 100%;
}

.headtable {
    width: 100%;
    background-color: #ECE1E3;
}

.headtable td {
    padding: 10px 50px 25px 135px;
}

.headtable td a {
    font-size: 16px;
    color:#B2B2B2;
}

.headtable td a:link {
    text-decoration: none;
}


.headtable td a:hover {
    text-decoration: none;
    color: #6D6D6D;
}

a:active {
    text-decoration: none;
    color: #000;
}
#divmenu {
    width: 100%;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: #486DAC;
    text-align: center;
    padding: 14px 0px 6px 0px;
    font-size: 20px;
    background-color:#05011A;
    height: 40px;
    font-family: fantasy;
}

#divmenu a {

    color: #FFFFFF; /*#1E33F7*/
    font-weight: bold;
    padding: 15px 15px 15px 15px;

}

#divmenu a:link {
    text-decoration: none;
    font-weight: bold;
    color:white;
}



#divmenu a:hover {
    text-decoration: none;
    background-color:aliceblue;
    color: black;
    -moz-box-shadow: 0 0 10px AliceBlue;
    -webkit-box-shadow: 0 0 10px AliceBlue;
    box-shadow: 0 0 10px AliceBlue;
}

#divmenu a:active {
    text-decoration: none;
    background-color:#030339;
    color: white;
    font-weight: bold;
}

#divsearch {
    width: 100%;
    background-color: #ECE1E3;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: #FFFFFF;
    font-weight: bold;
}

#divad {
    width: 900px;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}

#divcontent {
    width: 900px;
    background-color: white;
    border: 1px solid #EEEDDB;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
    padding: 30px;
}

.divpagecontent {
    width: 100%;
    background-color: #8AA2CC;
    padding-top: 30px;
    padding-bottom: 30px;
}

.listtitle {
    color: #333;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;

}

.listtd {
    padding: 5px 0px 5px 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
.listtd a{
    font-family: "华文仿宋";
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.listtd a:hover,active{
    color: #6D6D6D;
}
.listcontent {
    background-color: white;
    border: 1px solid #CCCCCC;
    margin-left: 5px;
    width: 99%;
}

.listcontent td {
    padding: 20px;
}

.infocontent {
    background-color: white;
    border: 1px solid #CCCCCC;
    margin-left: 5px;
    width: 99%;
    font-family: 华文仿宋;
    font-size: 18px;
    padding: 30px;
}

.infocontent td {
    padding: 5px;
}

.booklist {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.booklist td {
    /* text-align: center; */
    width: 25%;
    margin: 0px;
    padding:10px 0 10px 40px;
}

.divbookpic {
    width: 131px;
    height: 145px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    overflow: hidden;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.divbookpic img {
    position: static;
    position: relative;
    top: 5%;
}

.divbookimgurl {
    width: 300px;
    height: 300px;
    border: 2px solid #a0a0a0;
    background-color: #FFFFFF;
    margin: 8px;
    overflow: hidden;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.divbookimgurl img {
    position: static;
    position: relative;
    top: 5%;
    padding-left: 20px;
    padding-right: 20px;
}

.divlisttitle {
    line-height: 120%;
    text-align:left;
}
.divlisttitle a{
    text-decoration: none;
    font-family: cursive;
    color: black;
    font-weight: bold;
}
.divlisttitle a:hover{
    color: #666666;
}
#divfoot {
    width: 100%;
    clear: both;
    background-color: #efefef;
    margin-top: 15px;
}

.ctl {
    width: 490px;
    margin-top: 2px;
    margin-left: 2px;
    table-layout: fixed;
}

.ctl td {
    text-align: left;
    /* 	text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; */
    padding: 3px;
}

.inputtable {
    font-size: 20px;
    line-height: 19px;
    height: 40px;
    border: 1px solid #fff;
    background: #fff;
    font-family: "华文楷体";
    color: #342526;
    width: 250px;
    border-radius: 6px;
}
.inputtable:hover{
    border: 1px solid #ddd;
}
.inputbutton {
    color: #000000;
    background-color: #FFFFFF;
    padding: 1px;
    border: 1px solid #999999;
}

/*分页*/
.pagination {
    padding: 5px;
    width: 790px;
    margin: 5px auto;
    text-align: center;
}

.pagination ul {
    width:270px;
    margin: 5px auto;
    padding: 5px;
    font-size: 12px;
}

.pagination li {
    list-style-type: none;
    float:left;
    padding: 1px;
    margin: 1px;
}

.pagination a,.pagination a:visited {
    padding:5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1;
}



.pagination li.currentpage {
    font-weight: bold;
    padding: 5px;
    border: 1px solid navy;
    background-color: #2e6ab1;
    color: #FFF;
}
.disablepage_a{
    display:block;
    width:75px;
    height:15px;
}
.disablepage_a:link,.disablepage_a:visited{!important; padding:0; border:0;}
.disablepage_a:hover{!important; padding:0; border:0; background:none; }
.pagination li.disablepage_p {
    width: 75px;
    height: 15px;
    padding: 5px;
    color: #929292;
    background:url(../images/previous_page.png) no-repeat center center;
}

.pagination li.disablepage_p2 {
    width: 75px;
    height: 15px;
    padding: 5px;
    color: #929292;
    background:url(../images/previous_page2.png) no-repeat center center;
}

.pagination li.disablepage_n{
    width: 75px;
    height: 15px;
    padding: 5px;
    color: #929292;
    background:url(../images/next_page.png) no-repeat center center;
}

.pagination li.disablepage_n2{
    width: 75px;
    height: 15px;
    padding: 5px;
    color: #929292;background:url(../images/next_page2.png) no-repeat center center;
}

.pagination li.nextpage {
    font-weight: bold;
    padding: 5px;
}

/*分页*/
.upline {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #B0BEC7;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    font-family:"华文仿宋";
    font-weight: bold;
    font-size: 17px;
}

.textinput {
    height: 35px;
    width:230px;
    font-family: "华文仿宋";
    border-radius: 3px;
    font-size:20px;
    margin: 5px;
}
#sex{
    width: 20px;
    margin-top: 20px;
}
.textarea {
    font-family: "华文仿宋";
    border-radius: 3px;
    font-size:20px;
    margin: 5px;
    border:1px solid #a0a0a0;
    width: 450px;
    height: 100px;
    resize: none;
}

#logindiv {
    width: 305px;
    height: 361px;
    background-repeat: no-repeat;
    margin: 20px;
}

.carttable {
    text-align: center;
    font-family: 华文仿宋;
    font-size: 18px;
    width: 800px;
    margin: auto;
}

.carttable th{
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 3px;
    color: #FFFFFF;
    background-color: #111B3F;
}
.carttable td{
    text-align: center;
    padding: 3px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #C5E0E2;
    border-right-color: #C5E0E2;
    border-bottom-color: #C5E0E2;
    border-left-color: #C5E0E2;
}
.item1{
    width:10%;
}
.item2{
    width:20%;
}
.item3{
    width: 30%;
}
.tableopen {
    text-align: center;
    font-family: 华文仿宋;
    font-size: 18px;
}

.tableopentd01 {
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 3px;
    color: #FFFFFF;
    background-color: #111B3F;
}

.tableopentd02 {
    text-align: center;
    padding: 3px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #C5E0E2;
    border-right-color: #C5E0E2;
    border-bottom-color: #C5E0E2;
    border-left-color: #C5E0E2;
}

.tableopentd03 {
    text-align: center;
    padding: 3px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #C5E0E2;
    border-right-color: #C5E0E2;
    border-bottom-color: #C5E0E2;
    border-left-color: #C5E0E2;
}

.searchtable {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
}
#sear{
    outline: none;
    background: none;
    border: 0px;
    color: #888;
    font-size: 18px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
    text-decoration: none;
}
#sear:hover{
    color: #333;
}
#searchform{
    margin: auto;
    right: 50px;
}
.register_table{
    width:650px;
    margin:auto;
}
.register_table td{
    margin: 15px;
}
.relabel{
    text-align: right;
    font-size: 20px;
    font-family:  "华文仿宋";

}
#lcontent{
    width:900px;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
    border-radius: 3px;
    border:0;
    cellspacing:0;
    background-color: white;
    padding: 30px;
}
.listhead{
    text-align:right;
    margin:10px 10px 30px 0px;
    font-family: cursive;
    font-size: 18px;
}

.downbok
{
    width: 600px;
    height: auto;
    margin:50px auto;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1f6f4a;
}
.form-item
{
    position: relative;
    width: 360px; margin: 0 auto;
    padding-bottom: 30px;
}
.form-item input
{
    width: 288px;
    height: 48px;
    padding-left: 70px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 18px; color: #fff;
    background-color: transparent;
    outline: none;
}
.form-item button
{
    width: 360px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: 18px; color: #1f6f4a; outline: none; cursor: pointer; background-color: #fff;
}
.tip
{
    display: none;
    position: absolute; left: 20px;
    top: 52px;
    font-size: 14px;
    color: #f50; }
h1{
    font-family: "华文仿宋";
    font-size: 20px;
}
